.banner {
  object-fit: contain;
  position: relative;
  height: 448px;
}
.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
}
.banner__title {
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 0.3rem;
}
.banner__buttons {
}
.banner__button {
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.5);
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  border-radius: 0.2vw;
  border: none;
  outline: none;
}
.banner__button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner__description {
  width: 45rem;
  line-height: 1.3rem;
  padding-top: 1rem;
  overflow: hidden;
  max-width: 480px;
  font-size: 0.8rem;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}
.banner__fadeBottom {
  height: 7.4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
